body {
    background-color: #0084ff;
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255)
}
.div-Links {
    color: white;
    a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      a:visited {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
      }
      a:hover {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: underline;
      }
      a:active {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: underline;
      }
}