@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,700;1,400&display=swap');
body {
    background-color: #222222;
    text-align: center;
}

h1 {
    margin: 0 auto;
    font-family: 'Chivo Mono', monospace;
    color: #ffffff;
    font-size: 3em;
    font-weight: 800;
}

#svg-object {
    width: 300px;
    height: 300px;
  }
