@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

.top {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Chivo', sans-serif;
    background-color: rgb(16, 9, 0);
}

.tabbar {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding: 5px 5px 0px 5px;
}

.tab {
    width: 10em;
    background-color: rgb(34, 29, 25);
    color: white;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding: 5px 10px 5px 10px;
    border-radius: 5px 5px 0px 0px;
}

.tab .folder-icon {
    color: rgb(254, 219, 122);
}

.tab .close-tab:hover {
    background-color: rgb(47, 42, 38);
    transition: background-color 0.2s ease;
}

.tabbar .add-tab {
    margin-top: 5px;
}

.tabbar .spacer {
    flex-grow: 1;
}

.top .spacer {
    flex-grow: 1;
}

.window-control {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: top;
    padding: 0;
}

.window-control div {
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.window-control div:hover {
    background-color: rgb(30, 22, 14);
    transition: background-color 0.2s ease;
}

.window-control .close-icon:hover {
    background-color: rgb(196, 43, 28);
    transition: background-color 0.2s ease;
}